@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* :root{
    --gradient: linear-gradient(
        ,45
    ); 
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #232c33;
}


/* span {
    color: white;
    color: transparent;
    animation: text-animation;
    background-image: linear-gradient(45deg, red, blue);
    background-clip: text;
} */


/* @keyframes text-animation {} */

.navigation {
    position: absolute;
    height: 500px;
    width: 300px;
    background: #2b343b;
    box-shadow: 10px 0 0 #4187f6;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
}

.navigation ul li a {
    position: relative;
    /* display: block; */
    display: flex;
    text-decoration: none;
    color: #fff;
    width: 100%;
}